box_plot_subdf.png
box_plot_subdf2.png
cast.csv
christmas_billboard.csv
df_all.csv
event_log.txt
projet.odt
metadata/ar/cv-corpus-15.0-2023-09-08/ar/clip_durations.tsv
metadata/ar/cv-corpus-15.0-2023-09-08/ar/dev.tsv
metadata/ar/cv-corpus-15.0-2023-09-08/ar/invalidated.tsv
metadata/ar/cv-corpus-15.0-2023-09-08/ar/other.tsv
metadata/ar/cv-corpus-15.0-2023-09-08/ar/reported.tsv
metadata/ar/cv-corpus-15.0-2023-09-08/ar/test.tsv
metadata/ar/cv-corpus-15.0-2023-09-08/ar/train.tsv
metadata/ar/cv-corpus-15.0-2023-09-08/ar/validated.tsv
metadata/de/cv-corpus-15.0-2023-09-08/de/clip_durations.tsv
metadata/de/cv-corpus-15.0-2023-09-08/de/dev.tsv
metadata/de/cv-corpus-15.0-2023-09-08/de/invalidated.tsv
metadata/de/cv-corpus-15.0-2023-09-08/de/other.tsv
metadata/de/cv-corpus-15.0-2023-09-08/de/reported.tsv
metadata/de/cv-corpus-15.0-2023-09-08/de/test.tsv
metadata/de/cv-corpus-15.0-2023-09-08/de/train.tsv
metadata/de/cv-corpus-15.0-2023-09-08/de/validated.tsv
metadata/en/cv-corpus-15.0-2023-09-08/en/clip_durations.tsv
metadata/en/cv-corpus-15.0-2023-09-08/en/dev.tsv
metadata/en/cv-corpus-15.0-2023-09-08/en/invalidated.tsv
metadata/en/cv-corpus-15.0-2023-09-08/en/other.tsv
metadata/en/cv-corpus-15.0-2023-09-08/en/reported.tsv
metadata/en/cv-corpus-15.0-2023-09-08/en/test.tsv
metadata/en/cv-corpus-15.0-2023-09-08/en/train.tsv
metadata/en/cv-corpus-15.0-2023-09-08/en/validated.tsv
metadata/es/cv-corpus-15.0-2023-09-08/es/clip_durations.tsv
metadata/es/cv-corpus-15.0-2023-09-08/es/dev.tsv
metadata/es/cv-corpus-15.0-2023-09-08/es/invalidated.tsv
metadata/es/cv-corpus-15.0-2023-09-08/es/other.tsv
metadata/es/cv-corpus-15.0-2023-09-08/es/reported.tsv
metadata/es/cv-corpus-15.0-2023-09-08/es/test.tsv
metadata/es/cv-corpus-15.0-2023-09-08/es/train.tsv
metadata/es/cv-corpus-15.0-2023-09-08/es/validated.tsv
metadata/fr/cv-corpus-15.0-2023-09-08/fr/clip_durations.tsv
metadata/fr/cv-corpus-15.0-2023-09-08/fr/dev.tsv
metadata/fr/cv-corpus-15.0-2023-09-08/fr/invalidated.tsv
metadata/fr/cv-corpus-15.0-2023-09-08/fr/other.tsv
metadata/fr/cv-corpus-15.0-2023-09-08/fr/reported.tsv
metadata/fr/cv-corpus-15.0-2023-09-08/fr/test.tsv
metadata/fr/cv-corpus-15.0-2023-09-08/fr/train.tsv
metadata/fr/cv-corpus-15.0-2023-09-08/fr/validated.tsv
metadata/id/cv-corpus-15.0-2023-09-08/id/clip_durations.tsv
metadata/id/cv-corpus-15.0-2023-09-08/id/dev.tsv
metadata/id/cv-corpus-15.0-2023-09-08/id/invalidated.tsv
metadata/id/cv-corpus-15.0-2023-09-08/id/other.tsv
metadata/id/cv-corpus-15.0-2023-09-08/id/reported.tsv
metadata/id/cv-corpus-15.0-2023-09-08/id/test.tsv
metadata/id/cv-corpus-15.0-2023-09-08/id/train.tsv
metadata/id/cv-corpus-15.0-2023-09-08/id/validated.tsv
metadata/it/cv-corpus-15.0-2023-09-08/it/clip_durations.tsv
metadata/it/cv-corpus-15.0-2023-09-08/it/dev.tsv
metadata/it/cv-corpus-15.0-2023-09-08/it/invalidated.tsv
metadata/it/cv-corpus-15.0-2023-09-08/it/other.tsv
metadata/it/cv-corpus-15.0-2023-09-08/it/reported.tsv
metadata/it/cv-corpus-15.0-2023-09-08/it/test.tsv
metadata/it/cv-corpus-15.0-2023-09-08/it/train.tsv
metadata/it/cv-corpus-15.0-2023-09-08/it/validated.tsv
metadata/ja/cv-corpus-15.0-2023-09-08/ja/clip_durations.tsv
metadata/ja/cv-corpus-15.0-2023-09-08/ja/dev.tsv
metadata/ja/cv-corpus-15.0-2023-09-08/ja/invalidated.tsv
metadata/ja/cv-corpus-15.0-2023-09-08/ja/other.tsv
metadata/ja/cv-corpus-15.0-2023-09-08/ja/reported.tsv
metadata/ja/cv-corpus-15.0-2023-09-08/ja/test.tsv
metadata/ja/cv-corpus-15.0-2023-09-08/ja/train.tsv
metadata/ja/cv-corpus-15.0-2023-09-08/ja/validated.tsv
metadata/lg/cv-corpus-15.0-2023-09-08/lg/clip_durations.tsv
metadata/lg/cv-corpus-15.0-2023-09-08/lg/dev.tsv
metadata/lg/cv-corpus-15.0-2023-09-08/lg/invalidated.tsv
metadata/lg/cv-corpus-15.0-2023-09-08/lg/other.tsv
metadata/lg/cv-corpus-15.0-2023-09-08/lg/reported.tsv
metadata/lg/cv-corpus-15.0-2023-09-08/lg/test.tsv
metadata/lg/cv-corpus-15.0-2023-09-08/lg/train.tsv
metadata/lg/cv-corpus-15.0-2023-09-08/lg/validated.tsv
metadata/ru/cv-corpus-15.0-2023-09-08/ru/clip_durations.tsv
metadata/ru/cv-corpus-15.0-2023-09-08/ru/dev.tsv
metadata/ru/cv-corpus-15.0-2023-09-08/ru/invalidated.tsv
metadata/ru/cv-corpus-15.0-2023-09-08/ru/other.tsv
metadata/ru/cv-corpus-15.0-2023-09-08/ru/reported.tsv
metadata/ru/cv-corpus-15.0-2023-09-08/ru/test.tsv
metadata/ru/cv-corpus-15.0-2023-09-08/ru/train.tsv
metadata/ru/cv-corpus-15.0-2023-09-08/ru/validated.tsv
metadata/sw/cv-corpus-15.0-2023-09-08/sw/clip_durations.tsv
metadata/sw/cv-corpus-15.0-2023-09-08/sw/dev.tsv
metadata/sw/cv-corpus-15.0-2023-09-08/sw/invalidated.tsv
metadata/sw/cv-corpus-15.0-2023-09-08/sw/other.tsv
metadata/sw/cv-corpus-15.0-2023-09-08/sw/reported.tsv
metadata/sw/cv-corpus-15.0-2023-09-08/sw/test.tsv
metadata/sw/cv-corpus-15.0-2023-09-08/sw/train.tsv
metadata/sw/cv-corpus-15.0-2023-09-08/sw/validated.tsv
metadata/ta/cv-corpus-15.0-2023-09-08/ta/clip_durations.tsv
metadata/ta/cv-corpus-15.0-2023-09-08/ta/dev.tsv
metadata/ta/cv-corpus-15.0-2023-09-08/ta/invalidated.tsv
metadata/ta/cv-corpus-15.0-2023-09-08/ta/other.tsv
metadata/ta/cv-corpus-15.0-2023-09-08/ta/reported.tsv
metadata/ta/cv-corpus-15.0-2023-09-08/ta/test.tsv
metadata/ta/cv-corpus-15.0-2023-09-08/ta/train.tsv
metadata/ta/cv-corpus-15.0-2023-09-08/ta/validated.tsv
metadata/tr/cv-corpus-15.0-2023-09-08/tr/clip_durations.tsv
metadata/tr/cv-corpus-15.0-2023-09-08/tr/dev.tsv
metadata/tr/cv-corpus-15.0-2023-09-08/tr/invalidated.tsv
metadata/tr/cv-corpus-15.0-2023-09-08/tr/other.tsv
metadata/tr/cv-corpus-15.0-2023-09-08/tr/reported.tsv
metadata/tr/cv-corpus-15.0-2023-09-08/tr/test.tsv
metadata/tr/cv-corpus-15.0-2023-09-08/tr/train.tsv
metadata/tr/cv-corpus-15.0-2023-09-08/tr/validated.tsv
metadata/zh-CN/cv-corpus-15.0-2023-09-08/zh-CN/clip_durations.tsv
metadata/zh-CN/cv-corpus-15.0-2023-09-08/zh-CN/dev.tsv
metadata/zh-CN/cv-corpus-15.0-2023-09-08/zh-CN/invalidated.tsv
metadata/zh-CN/cv-corpus-15.0-2023-09-08/zh-CN/other.tsv
metadata/zh-CN/cv-corpus-15.0-2023-09-08/zh-CN/reported.tsv
metadata/zh-CN/cv-corpus-15.0-2023-09-08/zh-CN/test.tsv
metadata/zh-CN/cv-corpus-15.0-2023-09-08/zh-CN/train.tsv
metadata/zh-CN/cv-corpus-15.0-2023-09-08/zh-CN/validated.tsv
US_Inaugural_Addresses/._US_Inaugural_Addresses
US_Inaugural_Addresses/US_Inaugural_Addresses/._01_washington_1789.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._02_washington_1793.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._03_adams_john_1797.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._04_jefferson_1801.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._05_jefferson_1805.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._06_madison_1809.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._07_madison_1813.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._08_monroe_1817.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._09_monroe_1821.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._10_adams_john_quincy_1825.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._11_jackson_1829.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._12_jackson_1833.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._13_van_buren_1837.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._14_harrison_1841.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._15_polk_1845.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._16_taylor_1849.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._17_pierce_1853.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._18_buchanan_1857.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._19_lincoln_1861.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._20_lincoln_1865.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._21_grant_1869.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._22_grant_1873.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._23_hayes_1877.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._24_garfield_1881.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._25_cleveland_1885.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._26_harrison_1889.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._27_cleveland_1893.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._28_mckinley_1897.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._29_mckinley_1901.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._30_roosevelt_theodore_1905.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._31_taft_1909.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._32_wilson_1913.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._33_wilson_1917.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._34_harding_1921.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._35_coolidge_1925.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._36_hoover_1929.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._37_roosevelt_franklin_1933.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._38_roosevelt_franklin_1937.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._39_roosevelt_franklin_1941.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._40_roosevelt_franklin_1945.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._41_truman_1949.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._42_eisenhower_1953.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._43_eisenhower_1957.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._44_kennedy_1961.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._45_johnson_1965.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._46_nixon_1969.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._47_nixon_1973.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._48_carter_1977.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._49_reagan_1981.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._50_reagan_1985.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._51_bush_george_h_w_1989.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._52_clinton_1993.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._53_clinton_1997.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._54_bush_george_w_2001.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._55_bush_george_w_2005.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._56_obama_2009.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._57_obama_2013.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/._58_trump_2017.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/01_washington_1789.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/02_washington_1793.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/03_adams_john_1797.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/04_jefferson_1801.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/05_jefferson_1805.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/06_madison_1809.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/07_madison_1813.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/08_monroe_1817.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/09_monroe_1821.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/10_adams_john_quincy_1825.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/11_jackson_1829.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/12_jackson_1833.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/13_van_buren_1837.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/14_harrison_1841.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/15_polk_1845.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/16_taylor_1849.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/17_pierce_1853.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/18_buchanan_1857.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/19_lincoln_1861.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/20_lincoln_1865.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/21_grant_1869.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/22_grant_1873.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/23_hayes_1877.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/24_garfield_1881.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/25_cleveland_1885.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/26_harrison_1889.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/27_cleveland_1893.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/28_mckinley_1897.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/29_mckinley_1901.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/30_roosevelt_theodore_1905.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/31_taft_1909.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/32_wilson_1913.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/33_wilson_1917.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/34_harding_1921.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/35_coolidge_1925.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/36_hoover_1929.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/37_roosevelt_franklin_1933.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/38_roosevelt_franklin_1937.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/39_roosevelt_franklin_1941.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/40_roosevelt_franklin_1945.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/41_truman_1949.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/42_eisenhower_1953.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/43_eisenhower_1957.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/44_kennedy_1961.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/45_johnson_1965.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/46_nixon_1969.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/47_nixon_1973.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/48_carter_1977.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/49_reagan_1981.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/50_reagan_1985.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/51_bush_george_h_w_1989.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/52_clinton_1993.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/53_clinton_1997.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/54_bush_george_w_2001.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/55_bush_george_w_2005.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/56_obama_2009.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/57_obama_2013.txt
US_Inaugural_Addresses/US_Inaugural_Addresses/58_trump_2017.txt
french_test_set.csv
french_train_set.csv
plots/age_distrib.png
plots/gender_distrib.png
